<!DOCTYPE html>
<html th:fragment="fragment (template, menu)" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>OUT IMPORTEC - Tienda Virtual</title>

    <!--Hojas de estilo-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min-jsf.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-jsf.css}"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/icons/css/iconfont.css}"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/catalogo.css}"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/animaciones.css}"/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/toast.css}"/>

    <!--    Headers-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>
    <script th:src="@{/js/validator.js}"></script>
    <script type="application/javascript" src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
</head>

<body class="electroplus">
<main class="h-100">
    <nav class="navbar fixed-top electroplus__navbar">
        <div class="container electroplus__navbar__container d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center align-items-center">
                <button class="navbar-toggler d-inline-block d-md-none" onclick="toggleMenuMobile()" type="button">
                <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
                    <span class="feather icon-menu icon-sm text-white"></span>
                </span>
                </button>
                <a class="electroplus__link">
                    <img th:src="@{/image/logo_outimportec.svg}" class="electroplus__navbar__logo"
                         width="90" height="55">
                </a>
            </div>
            <div class="px-lg-4 d-block d-md-none">
                <a class="navbar-brand"><i class="feather text-white icon-search icon-sm"></i></a>
                <a class="navbar-brand" href="/carrito" sec:authorize="isAuthenticated()">
                    <i class="feather text-white icon-shopping-cart icon-sm"></i>
                </a>
            </div>
            <div class="electroplus__menu__navbar">
                <div class="d-flex d-md-none px-3 menu__header">
                    <button class="navbar-toggler my-auto" type="button" onclick="toggleMenuMobile()">
                    <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
                         <span class="feather icon-x icon-sm text-white"></span>
                    </span>
                    </button>
                    <div>
                        <img th:src="@{/image/logo_outimportec.svg}" class="electroplus__navbar__logo"
                             width="90" height="55">
                    </div>
                </div>
                <ul class="nav align-items-start h-100 flex-column flex-sm-row pt-5 pt-sm-0 px-3 container">
                    <li class="nav-item p-2">
                        <a class="nav-link electroplus__navbar__link" href="/inicio">
                            <i class="feather pr-2 icon-home icon-sm"></i>
                            Catalogo
                        </a>
                    </li>
                    <li class="nav-item p-2 d-block d-sm-none w-100" sec:authorize="isAuthenticated()">
                        <a class="nav-link electroplus__navbar__link d-flex align-items-center" href="/carrito">
                            <i class="feather pr-2 icon-shopping-cart icon-sm"></i>
                            Carrito de compras
                            <span class="badge badge-warning badge-pill ml-auto"
                                  style="font-size: 16px" id="carritopp">0</span>
                        </a>
                    </li>
                    <li class="nav-item p-2 d-block d-sm-none" sec:authorize="isAuthenticated()">
                        <a class="nav-link electroplus__navbar__link" href="/micuenta">
                            <i class="feather pr-2 icon-user icon-sm"></i>
                            Mi Cuenta
                        </a>
                    </li>
                    <li class="nav-item p-2" sec:authorize="isAuthenticated() && hasAuthority('ADMINISTRADOR')">
                        <a class="nav-link electroplus__navbar__link" href="/productos">
                            <i class="feather pr-2 icon-archive icon-sm"></i>
                            Productos
                        </a>
                    </li>
                    <li class="nav-item p-2" sec:authorize="isAuthenticated() && hasAuthority('ADMINISTRADOR')">
                        <a class="nav-link electroplus__navbar__link" href="/clientes/lista">
                            <i class="feather pr-2 icon-users icon-sm"></i>
                            Clientes
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link electroplus__navbar__link" href="/public/contacto">
                            <i class="feather pr-2 icon-headphones icon-sm"></i>
                            Contacto
                        </a>
                    </li>
                    <li class="nav-item p-2 pb-4 d-block mt-auto" sec:authorize="!isAuthenticated()">
                        <a class="nav-link electroplus__navbar__link" href="/login">
                            <i class="feather pr-2 icon-log-in icon-sm"></i>
                            Login
                        </a>
                    </li>
                    <li class="nav-item p-2 pb-4 d-block d-sm-none mt-auto" sec:authorize="isAuthenticated()">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        <a class="nav-link electroplus__navbar__link" style="cursor:pointer;"
                           onclick="document.forms['logoutForm'].submit()">
                            <i class="feather pr-2 icon-log-out icon-sm"></i>
                            Logout
                        </a>
                    </li>
                    <!-- th:with="userlogin=${#httpServletRequest.getAttribute('userlogin')}" th:if="${userlogin}" -->
                    <li sec:authorize="isAuthenticated()"
                        class="nav-item pl-2 py-2 dropdown d-none d-sm-block">
                        <a class="pl-2 dropdown-toggle electroplus__navbar__link" href="#" id="navbarDropdown"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authentication="name"
                           role="button">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item py-2" href="/micuenta">
                                <i class="feather pr-2 icon-user icon-xs"></i>
                                Mi Cuenta
                            </a>
                            <a class="dropdown-item py-2" href="/dashboard"
                               sec:authorize="isAuthenticated() && hasAuthority('ADMINISTRADOR')">
                                <i class="feather pr-2 icon-pie-chart icon-xs"></i>
                                Dashboard
                            </a>
                            <a class="dropdown-item py-2 d-flex align-items-center" href="/carrito">
                                <i class="feather pr-2 icon-shopping-cart icon-xs"></i>
                                Carrito
                                <span class="badge badge-warning badge-pill ml-auto"
                                      style="font-size: 16px" id="carritop">0</span>
                            </a>
                            <a class="dropdown-item py-2" href="/pedidos">
                                <i class="feather pr-2 icon-shopping-bag icon-xs"></i>
                                Pedidos
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item py-2" style="cursor:pointer;"
                               onclick="document.forms['logoutForm'].submit()">
                                <i class="feather pr-2 icon-log-out icon-xs"></i>
                                Cerrar sesión
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <th:block th:include="${template}"/>

    <div class="toast__animation pt-4" th:if="${mensaje}">
        <div class="toast bg-success alert alert-dismissible fade show" id="toastsuccess"
             data-delay="3000" data-autohide="true" role="alert"
             style="position: fixed; z-index: 1030; top: 75px; right: 2rem;">
            <div class="toast-header">
                <strong class="mr-auto text-success"><i class="feather icon-check"></i> Success !</strong>
                <!--small>text</small-->
                <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                    <span class="toast__close" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <div class="toast__text" th:text="${mensaje}"></div>
            </div>
        </div>
    </div>
    <div class="toast__animation pt-4" th:if="${error}">
        <div class="toast bg-danger alert alert-dismissible fade show" id="toasterror" role="alert"
             style="position: fixed; z-index: 1030; top: 75px; right: 2rem;">
            <div class="toast-header">
                <strong class="mr-auto text-danger"><i class="feather icon-check"></i> Error !</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                    <span class="toast__close" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <div class="toast__text" th:text="${error}"></div>
            </div>
        </div>
    </div>
</main>

<script>
    $.ajax({
        url: "dashboard/bolsa",
        dataType: "json"
    }).done((resp) => {
        console.log("total: " + JSON.stringify(resp));
        if (resp !== null) {
            document.getElementById("carritop").innerText = resp.total;
            document.getElementById("carritopp").innerText = resp.total;
        }
    }).fail((jq, text, err) => {
        console.log(text + ' - ' + err);
    });
</script>
</body>

</html>
